.tasks {
    background-color: #9fef9f;
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.active {
    background-color: #00b100 !important;
}

.home {
    height: 30px;
    width: 30px;
    background-color: grey;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("../Assets/Home.svg");
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: rgba(0, 177, 0, 0.15) 0px -5px 20px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: 40px;
    justify-self: center;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.community {
    height: 30px;
    width: 30px;
    background-color: grey;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("../Assets/Community.svg");
}

.leaderboard {
    height: 30px;
    width: 30px;
    background-color: grey;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("../Assets/Leaderboard.svg");
}

.bottom {
    padding-bottom: 5rem;
}

.settings {
    height: 30px;
    width: 30px;
    background-color: grey;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("../Assets/Settings.svg");
}

.task {
    display: flex;
    flex-direction: column;
    background-color: #9fef9f;
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.task .details {
    flex: 8;
}

.task .actions a {
    flex: 1;
    margin-bottom: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.greeting {
    display: flex;
    justify-content: space-between;
}