.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #FF0000;
  color: #FFe8e8;
  border-radius: 30px;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #ff9393;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-items: flex-start;
}

input {
  border: grey 2px solid;
  padding: 15px 20px;
  border-radius: 30px;
  font-family: 'Poppins';
  margin-bottom: 16px;
  font-size: 16px;
}

input:focus {
  border: #FF0000 2px solid;
  background-color: #FFe8e8;
}