.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #00b100;
  color: #fff;
  border-radius: 30px;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #4dc94d;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-items: flex-start;
}

input {
  border: grey 2px solid;
  padding: 15px 20px;
  border-radius: 30px;
  font-family: 'Poppins';
  margin-bottom: 16px;
  font-size: 16px;
}

input:focus {
  border: #00b100 2px solid;
}

.closeIcon {
  height: 24px;
  width: 24px;
  background-color: #000;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("./Assets/Close.svg");
}